@import "variables";

* {
    margin: 0;
}

body {
    font-family: 'Open Sans';
    font-weight: 400;
}

h1, h2 {
    font-size: 60px;
    font-weight: 300;
}

h3 {
    font-size: 33px;
    font-weight: 300;
}

nav {
    font-size: 21px;
    
    ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: nowrap;
    }
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
}

.icon {
    min-width: 50px;
    max-width: 120px;
}

.price {
    margin: 0 auto;
    color: $nitro-blue;
}

.nav-bar {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1em 3vw;
    box-sizing: border-box;
    background-color: $nitro-pink;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    column-gap: 3em;

    &>a {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        color: $graphite;

        img, h2 {
            display: inline-block;
        }
    }

    nav {
        transform: translateY(-2px);

        ul {
            justify-content: flex-end;
            column-gap: 2em;

            li {
                a {
                    color: $graphite;
                }
                
                &:last-child {
                    a {
                        color: $nitro-blue;
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 650px) {
        flex-direction: column;
        nav {
            padding-left: 52px;
            ul {
                flex-direction: column;
                row-gap: 0.5em;
            }
        }
    }
}

.btn {
    width: 180px;
    padding: 20px;
    background-color: $nitro-blue;
    color: white;
    border: 0px;
    font-size: 21px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    transition: box-shadow 0.15s, transform 0.15s;
    touch-action: manipulation;
    will-change: box-shadow, transform;

    &:hover {
        box-shadow: 4px 4px 4px gray;
        transform: translateX(-2px) translateY(-2px);
    }

    &:active {
        box-shadow: 3px 3px 3px rgb(0, 75, 73) inset;
        transform: translateX(2px) translateY(2px);
    }
}

footer {
    background-color: $nitro-pink;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 12%;
    row-gap: 30px;
    padding: 5% 5vw 5% 12vw;

    h3 {
        margin-bottom: 0.5em;
    }

    p {
        white-space: nowrap;
    }

    span {
        font-weight: 700;
    }
}