* {
  margin: 0;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
}

h1, h2 {
  font-size: 60px;
  font-weight: 300;
}

h3 {
  font-size: 33px;
  font-weight: 300;
}

nav {
  font-size: 21px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
}

.icon {
  min-width: 50px;
  max-width: 120px;
}

.price {
  margin: 0 auto;
  color: #5BACC3;
}

.nav-bar {
  padding: 1em 3vw;
  box-sizing: border-box;
  background-color: #FFF0ED;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  -moz-column-gap: 3em;
       column-gap: 3em;
}
.nav-bar > a {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: #393939;
}
.nav-bar > a img, .nav-bar > a h2 {
  display: inline-block;
}
.nav-bar nav {
  transform: translateY(-2px);
}
.nav-bar nav ul {
  justify-content: flex-end;
  -moz-column-gap: 2em;
       column-gap: 2em;
}
.nav-bar nav ul li a {
  color: #393939;
}
.nav-bar nav ul li:last-child a {
  color: #5BACC3;
  white-space: nowrap;
}
@media only screen and (max-width: 650px) {
  .nav-bar {
    flex-flow: column wrap;
  }
  .nav-bar nav {
    padding-left: 52px;
  }
  .nav-bar nav ul {
    flex-flow: column wrap;
    row-gap: 0.5em;
  }
}

a.btn {
  width: 180px;
  padding: 20px;
  background-color: #5BACC3;
  color: white;
  border: 0px;
  font-size: 21px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  transition: box-shadow 0.15s, transform 0.15s;
  touch-action: manipulation;
  will-change: box-shadow, transform;
}
a.btn:hover {
  box-shadow: 4px 4px 4px gray;
  transform: translateX(-2px) translateY(-2px);
}
a.btn:active {
  box-shadow: 3px 3px 3px #2d5661 inset;
  transform: translateX(2px) translateY(2px);
}

footer {
  background-color: #FFF0ED;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  -moz-column-gap: 12%;
       column-gap: 12%;
  row-gap: 30px;
  padding: 5% 5vw 5% 12vw;
}
footer h3 {
  margin-bottom: 0.5em;
}
footer p, footer a {
  white-space: nowrap;
}
footer a {
  color: #393939;
  font-size: 18px;
  font-weight: 400;
}
footer span {
  font-weight: 700;
}
footer section:last-child div {
  display: flex;
  flex-wrap: nowrap;
}

.hero {
  padding: 5em 10vw;
  background-color: #FFF0ED;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 30px;
}
@media only screen and (max-width: 650px) {
  .hero {
    flex-flow: column wrap;
    align-items: flex-start;
  }
}
.hero__text h1, .hero__text p {
  width: 350px;
  margin-bottom: 2rem;
}
.hero__img img {
  width: 20vw;
  min-width: 150px;
}

.products {
  padding: 5em 0;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5em;
}

.containers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 80px;
       column-gap: 80px;
  row-gap: 50px;
  margin: 0 50px;
}
.containers__card {
  position: relative;
  overflow: hidden;
  background-color: white;
  min-width: 330px;
  max-width: 350px;
  min-height: 440px;
  max-height: 460px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-rows: 6fr 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  transition: box-shadow 300ms, transform 300ms;
  touch-action: manipulation;
  will-change: box-shadow, transform;
}
.containers__card img {
  grid-row: 1;
  grid-column: 1/3;
  margin: 0 auto;
}
.containers__card h3 {
  grid-row: 2;
  grid-column: 1;
}
.containers__card .pkg-qty {
  grid-row: 3;
  grid-column: 1;
  color: gray;
}
.containers__card .price {
  grid-row: 2/4;
  grid-column: 2;
  font-size: 33px;
  margin: auto 0;
  transition: rotate 300ms;
}
.containers__card div {
  position: absolute;
  background-color: #FFF0ED;
  width: 200%;
  height: 360px;
  z-index: -1;
  top: 300px;
  transition: rotate 300ms, transform 300ms;
}
.containers__card:hover {
  box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.5), 0 10px 15px -1px rgba(0, 0, 0, 0.25);
  transform: translateY(-5px);
}
.containers__card:hover div {
  rotate: -30deg;
  transform: translateY(34px);
}
.containers__card:hover h3 {
  text-shadow: 1px 1px rgba(128, 128, 128, 0.5), 2px 2px rgba(128, 128, 128, 0.4), 3px 3px rgba(128, 128, 128, 0.3), 4px 4px rgba(128, 128, 128, 0.2), 5px 5px rgba(128, 128, 128, 0.1);
}
.containers__card:hover .price {
  rotate: -30deg;
}

.discount {
  background-color: white;
  padding: 10% 0;
}
.discount p {
  font-size: 45px;
  max-width: 80%;
  padding: 40px 20px;
  margin: 0 auto;
  text-align: center;
  background-color: #393939;
  color: white;
  cursor: pointer;
}
.discount p span {
  font-weight: 700;
}/*# sourceMappingURL=landing.css.map */