:root {
    --nitro-blue: #5BACC3;
    --nitro-pink: #FFF0ED;
    --light-gray: #F7F7F7;
    --graphite: #393939;
    --primary:var(--graphite);
    --secondary: white;
    --highlight: var(--nitro-blue);
}

* {
    margin: 0;
}

body {
    font-family: 'Open Sans';
    font-weight: 400;
}

h1, h2 {
    font-size: 60px;
    font-weight: 300;
}

h3 {
    font-size: 33px;
    font-weight: 300;
}

nav {
    font-size: 21px;
    li {
        display: inline;
    }
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
}

header {
    a {
        color: var(--graphite);
    }

    .nav-top {
        display: inline-block;
        padding-left: 1%;
        img {
            min-width: 50px;
            max-width: 120px;
        }
    }

    nav.nav-top {
        li {
            padding-right: 2em;
            &:last-child {
                a {
                    color: var(--nitro-blue);
                }
            }
        }
    }
}

.price {
    margin: 0 auto;
    color: var(--nitro-blue);
}