header {
    background-color: var(--nitro-pink);
    margin: 0;
}

h1 {
    margin: 0 auto;
    color: white;
    text-align: center;
    max-width: 300px;
    max-height: 180px;
    min-width: 280px;
    min-height: 180px;
    background-color: var(--graphite);
}

.title-bg {
    background-image: url('../assets/images/coffee-circle.jpg');
    max-width: 100%;
    max-height: 600px;
    min-width: 100%;
    min-height: 575px;
    background-position: center;
    background-size: cover;
}

.nav-menu {
    text-align: center;
    max-width: 100%;
    min-width: 100%;
    background-color: var(--graphite);
    color: white;
    ul {
        li {
            &:before {
                content: "|";
                top: -2px;
                font-size: 120%;
                position: relative;
                font-weight: 900;
                color: var(--nitro-blue);
            }
            a {
                display: inline-block;
                color: white;
                padding: 2%;
                text-transform: uppercase;
            }
        }
    }
}

main {
    section {
        h2 {
            padding-top: 2%;
            padding-bottom: 5%;
        }
        &:nth-child(2n+1) {
            background-color: var(--nitro-pink);
        }

        &:nth-child(2n) {
            background-color: var(--light-gray);
        }

        h2, h3 {
            text-align: center;
        }

        .description {
            margin: auto;
            width: 500px;
            text-align: center;
        }

        .price {
            text-align: center;
            padding-top: 1%;
            padding-bottom: 4%;
        }
    }
}